<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/DTD/strict.dtd">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" media="all" href="LP_nav.css">
<link rel="stylesheet" type="text/css" media="all" href="LP_lang.css">
<script type="text/javascript" LANGUAGE="JavaScript" src="LP_nav.js"></script>
</head>

<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" marginheight="0" marginwidth="0">

<!-- MASTER TABLE -->
<script src="../jscp.js">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		
		<td class="content">  
			<!-- CONTENT FRAME -->
			<div class="content_width">
				<p>
					<span class="head1">
						<%= property('LPAD_PLANNING_TITLE') %>
					</span> 				
				</p>
				<p>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr> 
							<td class="imageInText_placement">
								<img src="images/LP_planning.gif" width="65" height="58" border="0">
							</td>
							<td class="tableText">
								<%= property('LPAD_PLANNING_DESC') %>
							</td>
						</tr>
					</table>
					<p>
						<a class="solo" href="javascript:linkToPrereqInfo()">
							<img src="images/info_link.gif" border="0">
							<%= property('LPAD_PLANNING_LINK') %>
						</a>

				</p>
			</div>
		</td>
	</tr>
</table>
</script>
<!-- END OF MASTER TABLE -->

</body>
</html>
